<div class="container">
	<div class="form-inline" style="padding: 50px 0px;">
		<div class="col-md-3">
			<input class="form-control" style="width: 100%;" placeholder="Search ProMART">
		</div>
		<div class="col-md-3">
			<select class="custom-select" style="width: 100%;" placeholder="Select Category">
				<option selected="">All Categories</option>
				<option value="1">Asset Management</option>
				<option value="2">Supplier Management</option>
				<option value="3">Human Resources and Payroll</option>
			</select>
		</div>
		<div class="col-md-3">
			<select class="custom-select" style="width: 100%;" placeholder="Select Industry">
				<option selected="">All Industries</option>
				<option value="1">Automotive</option>
				<option value="2">Oil & Gas</option>
				<option value="3">Finance</option>
			</select>
		</div>
		<div class="col-md-1">
			<button class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div>
				<h5>Top Paid</h5>
				<hr>
				<ol>
					<a href="#">
						<li>Asset Management<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>Loyalty Management<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>Financial Services<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>Expenses<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>HR Self-Service<span class="blockquote-footer">by Company Name</span></li>
					</a>
				</ol>
				<h5>Top Free</h5>
				<hr>
				<ol>
					<a href="#">
						<li>Diving Shop<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>Car Service<span class="blockquote-footer">by Company Name</span></li>
					</a>
					<a href="#">
						<li>House Guard<span class="blockquote-footer">by Company Name</span></li>
					</a>
				</ol>
			</div>
		</div>
		<div class="col-md-9">
			<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="home-tab" data-toggle="tab" href="#/apps/" role="tab" aria-controls="home" aria-selected="true">All</a>
					</li>
					<li class="nav-item">
						<a class="nav-link show active" id="profile-tab" data-toggle="tab" href="#/apps/featured/" role="tab" aria-controls="profile" aria-selected="false">Featured</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#/apps/recent/" role="tab" aria-controls="contact" aria-selected="false">Recent</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade">
						.Profile...
					</div>
					<div class="tab-pane show active">
						<br>
						<div ng-repeat="next in applications.featured">
							<div class="row">
								<div class="col-md-2">
									<img style="max-width: 100%" src="{{next.image}}" alt="App Logo">
								</div>
								<div class="col-md-7">
									<h5>{{next.name}}</h5>
									<span>{{next.description}}</span>
									<br>
									<br>
									<div class="text-center">
										<span class="text-center"><i><b>$490</b> | by Company Name |</i></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<div class="col-md-3">
									<br>
									<button class="btn btn-primary">Open</button>
									<br>
								</div>
							</div>
							<hr>
						</div>
					</div>
					<div class="tab-pane fade">
						.Contact...
					</div>
				</div>
			</div>
		</div>
	</div>
</div>